.footer {
    color: $white;
    background-color: $veryDarkBlackBlue;
    text-align: center;
    padding-top: 72px;
    padding-bottom: 25px;
    border-top-right-radius: 100px;
    

    @include breakpoint_up(large){
        display: grid;
        grid-template-columns: 1.6fr 1fr 1fr 1.5fr;
    }

    &__logo {
        margin-bottom: 75px;
        padding-right: 20px;
    }

    &__links {
        padding-bottom: 55px;
        font-family: 'Ubuntu', sans-serif;
        font-weight: 700;

        @include breakpoint_up(large){
            text-align: left;
        }

        a {
            display: block;
            color: $white;
            opacity: 0.7;
            font-weight: 400;

            &:hover {
                text-decoration: underline;
            }
    
            &:not(:last-child){
                margin-bottom: 18px;
            }
    
            &:first-child {
                margin-top: 38px;
            }
        }
    }
    
}